@import url("./page_description_produit.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

body {
    height: 100dvh;
    margin: 0;
    font-family: cursive , sans-serif;
}

/** HEADER **/

header {

    div {
        display: flex;
        justify-content: center;
        border-bottom: solid rgba(85, 48, 101, 0.818);
    }

    menu {
        display: flex;
        list-style: none;
        padding: 0;
    }

    menu li {
        padding: 18px; 

        a {
            font-size: 18px !important;
        }
    }

    @media screen and (max-width: 768px){
        menu li {
            padding: 12px; 
        }
        
    }

    .top-header {
        display: flex;
        align-items: center;

        img,
        a {
            margin-right: auto;
        }

        a {
            display: block;
            text-decoration: none;
            font-size: 1.8rem;

            &:visited {
                color: black;
            }
        }
    }
}

.img-header-size {
    width: 60px;
    height: 60px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 8px;
    background: white;
    box-shadow: 1px 1px 1px darkblue;
    margin-left: 0.8rem;
    margin-block: 0.4rem;
    margin-bottom: 0;
}

/** MAIN **/

main {
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;
        font-size: 1rem;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
    }
}

main a img {
    width: 300px;
    height: 300px;
}

div {
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    p {
        margin: 0.2rem;

    }

}

footer {
    text-align: center;
    font-style: italic;
    margin-top: 3rem;
}

.splide__slide img {
    width: 100%;
    object-fit: contain;
    display: block;
}

.splide .splide__pagination {
    margin-bottom: 1rem;
}

.splide__pagination__page.is-active {
    background-color: #56308d !important;
}

.splide__pagination__page {
    background: black !important;
}

img {
    border-radius: 8px;
}

p {
    border-radius: 6px;
}