@import url("./page_description_produit.css");

/** HEADER **/

header {

    div { 
        display: flex;
        justify-content: center ;
        border-bottom: solid rgba(85, 48, 101, 0.818);        
    }

    menu {
        display: flex;
        list-style: none;
        padding: 0;
    }

    menu li {
        font-size: 2rem;
        padding: 20px;
    }
} 

.img-header-size {
    width: 200 px;
    height: 200 px;
}

/** MAIN **/

main {
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
    }
}

main a img {
    width: 300px;
    height: 300px ;
}

div {
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    p {
        margin: 0.2rem;

    }
    
}
